
.modal-dialog { /*Tamaño del*/
    max-width: 850px;
}

.modal-title
.modal-footer {
    margin: 0 auto;
   
}

div.container_modal
div.column_modal{
    display: flex;/*Flex para que varie el tamaño*/
    flex-direction: row;
    padding: 100px;
}

.site-title{
    display: flex;
    justify-content: center;/*Para que sus elementos que alinien al centro*/
    width: 100%;
    height: 50px;
    background-color: black;/*Color de fondo*/
}

.site-title h1{
    padding-top: 1%;/*Espaciado hacia arriba*/
    font-size: 20px; /*Tamaño de la fuente al titulo*/
}

.navbar{
    margin: 0;
    padding: 0;
    border-bottom-style:double;
    width:100%;
}

.navbar-brand{
margin: auto;
}
.dropdown.navbar{
    display: none;
}

.ms-menu{
    display: none;
}

.option-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.option-container a{
    margin-bottom: 10% 
}

.main-recipe{
    display: flex;
    border-style:solid;
    width: 100%;
    height: 100%;
}

.main-recipe .menu-img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.recipe-container{
    height: auto;
}

.recipe{
 display: flex;
 flex-wrap: wrap;
}

.recipe-normal i{
    float: right;
    width: 30px;
    height: 40px;
}

.recipe-normal{
    height: auto;
    border-style: solid;
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 100%;
}

.recipe-normal img{
    width: 100%;
    object-fit: cover;
}

.recipe-bigger{
    height: auto;
    border-style: solid;
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 100%;
}
.recipe-bigger .details{
    position: absolute;
    font-size: xx-large;
}

.main-recipe .details{
    position: absolute;
    bottom: 35%;
    left: 50%;
    font-size: xx-large;
}

.recipe-bigger img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.filter{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.filter a{
    color: gray;
    font-style: italic;
}

.filter-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.h5{
    color: black;
}

.btn-loadMore{
    display: flex;
    justify-content: center;
    height: 100px;
}

.btn-loadMore a.btn{
    height: auto;
    width: auto;
    color: whitesmoke;
}

.fa.like-top{
    font-size: 30px;
}

.fa.favorite-top{
    font-size: 30px;

}

/* ESTILOS DEL FOOTER DEL INDEX */
#footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.frst-col-footer{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-top: 3%;
}

.scnd-col-footer{
    display: flex;
    flex-direction: column;

    width: 28%;
    margin-top: 3%;
}

.thrd-col-footer{
    display: flex;
    flex-direction: column;
    
    width: 28%;
    margin-top: 3%;

}

.legal-term-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.rights-term-right{
    margin-left: 30%
}

.frst-col-footer p{
    width: 100%;
    max-width: 300px;
}

h3{

    color: black;
}

h5{
    color: black;
}

h6{
    color: black;
}


.thrd-col-footer img{
    float: left;
    border-radius: 45%;
}



/*INDEX MEDIA QUERIES FOR RESPONSIVE */
@media screen and (max-width:767px) { 
    .option-container{
        display: none;/*Desaparece el contendor de opciones*/
    }
    .ls-menu a{
        display:none;
    }
    .dropdown.navbar{
        display: inherit;   
    }
    .ms-menu{
        display:inherit;
    }
    #footer{
        flex-direction: column;
        align-items: center;
    }
    
    .legal-term-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rights-term-right{
        margin-left: 0%;
    }
    .last{
        display: none;
    }

}


.search-form {
    float: right;
}

.nav-line{
    border-right-style: double;
    width: 27%;
    height: 100%;
}

a.btn{
    align-self: center;
}

article.avatar{
    padding: 20px;   
}

article.avatar img {
    border-radius: 50%;
    border: 4px solid #bbbbbb;
    width: 150px;
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
}

img:hover {/*Para que cambie si el mouse para por encima*/
    box-shadow: 0 0 2px 1px rgba(24, 25, 26, 0.5);
  }

div.container.row.touch{
max-width: 100%;
}

/*Modal login and register*/

.info{ 
    border: 0;
    box-shadow: 0;
}

div.container.aboutUs,
div.col-md-3
{ /*login & register*/
    display: flex; /*Flex para que se ajuste si cmabia de tamaño*/
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px;
    
}
.col-md-8{
    margin-left: 0px;
    padding-left: 47px;
    border-left-width: 0px;
    border-left-style: solid;
    padding-right: 0px;
}

.modal-dialog { /*Tamaño del modal*/
    max-width: 850px;
}



div.container_modal
div.column_modal{ /*Comportamiento y responsividad*/
    display: flex;
    flex-direction: row;
    padding: 100px;
}
/*about*/

.col-6 .paragraph{
    font-size: 1.0rem;
}

#logreg-forms{
    width:100%;
    margin:2vh auto;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

.li-ingredients{
    list-style: none;
    font-size: 1.5rem;
    margin-top: 30px
}

.font-disp{
    font-size: 1.3vw;
}
.li-ingredients li{
    margin-top: 25px;
}
.li-interactions{
    list-style: none;
    font-size: 1rem !important;
    display: flexbox;
}
.li-interactions li{
    display: inline-flex;
    margin-left: 10px;
    font-size: 1.3rem !important;
}

#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] { /*Formato y estilos del campo email*/
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] { /*Formato y  estilos del campo password*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{ /*Tamaño del contenedor los iconos de las redes sociales*/
    width:390px;
    margin-bottom: 14px;
    margin-left: 35px;
}

#logreg-forms .social-btn{ /*Tamaño de los botones*/
    width:84px;
    margin-left: 60px;
}

#logreg-forms .fb{ /*Modal de registro y login*/
    margin-left: 30px !important;
}

#logreg-forms a{ /*color de los links a modals crear cuenta o logearse*/
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{ /*si falla en algo se pone de este color y se aplica este estilo*/
    width:200px;
    border:1px solid red;
}

#logreg-form.bt-login{
    width: 15vw;
}

#logreg-forms .login-links{ /*Links alineados al centro*/
    text-align: center;
}

#logreg-forms button[type="submit"]{ margin-top:10px; } /*estilo del boton enviar o logiearse*/


#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}


.table-pink div{ /*Tabla roosada*/
    text-align: center;/*alinear texto al centro*/
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    border: solid;
    border-bottom: none; /*sin borde abajo*/
    border-color: black;
}
.table-grey div{/*tabla gris*/
    text-align: center;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    border: solid;
    border-top: none;
}

/*recipe*/
.checked { /*Rate si presiona una estrella se pone color naranja*/
    color: orange;
}

.bt-tag{ /*Botonoes rosados de las etiquetas #algo*/
    color: fuchsia;
    border-width: 2.5px;
    border-color: fuchsia;
    border-radius: 20px;
    margin-top: 20px;
}

.social-li{ /*para que se muestre en linea los likes y los vistos*/
    
    display: inline;
}

.social-li img{ /*tamaño de las imagenes*/
    margin-top: 20px;
    width: 44px;
    height: 44px;
}

.li-interactions .margin{ /*aplicar margen entre las interaciones*/
    margin-top: 25vw;
}
.related-img{ /*tamaño de las imagenes de la seccion related*/
    width: 100%;
    height: 100%;
}
.jumbotron .recipe-title{ /*tamaño del titulo del elemetno de la clase jumbotron*/
    font-size: 1.75rem;
}

/* Mobile login*/
/*MEDIA QUERIES PARA AJUSTAR EL LOGIN Y REGISTER ASI COMO LA PAGINA RECIPE PROFILE*/
@media screen and (max-width:500px){
    #logreg-forms3{ /*ajusta el tamaño*/
        max-width:300px;
    }

    #logreg-forms .bt-login{
        width: 76.5px;
    }
.bt-tag{/*les cambia el tamaño de la fuente y el borde*/
    font-size: 6px;
    margin: 0px;
    border-width: 1.8px
}
.font-disp{ /*tamaño de la letra se la pantalla es mas pequeña a 500px*/
    font-size: 2.5vw;
    margin-left: 0px;
    margin-right: 0px;
}
.col-6 .paragraph{ /*Tmaño de la letra de los parragos*/
    font-size: 1rem;
}
.jumbotron .recipe-title{ /*Tamaño del titulo*/
    font-size: 1.0rem;
}
.jumbotron .col-6 h3{
    font-size: 3.5vw;
}

.social-li img{ /*Ajustar tamaño de las imagenes que no estan edntor de un diplay flex*/
    width: 24px;
    height: 24px;
}

@media screen and (max-width:450px){ 
    #logreg-forms .social-btn{
        width: 64px;
        margin-left: 0px;
    }
    .social-li img{
        width: 24px;
        height: 24px;
    }
  }
}

@media screen and (min-width: 500px) {
    .bt-login{
        width: 15vw;
    }/*cambiar el tamaño del boton segun cambia o se ajusta la vista*/

}


.site-title{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

.site-title h1{
    padding-top: 1%;
    font-size: 20px;
}

.navbar{
    border-bottom-style:double;
    width:100%;
}

.dropdown.navbar{
    display: none;
}

.ms-menu{
    display: none;
}

.option-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.option-container a{
    margin-bottom: 10% 
}

.main-recipe{
    display: flex;
    border-style:solid;
    width: 100%;
    height: 100%;
}

.main-recipe .menu-img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.recipe-container{
    height: auto;
}

.recipe{
 display: flex;
 flex-wrap: wrap;
}

.recipe-normal i{
    float: right;
    width: 30px;
    height: 40px;
}

.recipe-normal{
    height: auto;
    border-style: solid;
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 100%;
}

.recipe-normal img{
    width: 100%;
    object-fit: cover;
}

.recipe-bigger{
    height: auto;
    border-style: solid;
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 100%;
}
.recipe-bigger .details{
    position: absolute;
    font-size: xx-large;
}

.main-recipe .details{
    position: absolute;
    bottom: 35%;
    left: 50%;
    font-size: xx-large;
}

.recipe-bigger img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.filter{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.filter a{
    color: gray;
    font-style: italic;
}

.filter-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
s
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.h5{
    color: black;
}

.btn-loadMore{
    display: flex;
    justify-content: center;
    height: 100px;
}

.btn-loadMore button{
    background-color: black;
    height: 40px;
    width: 100px;
    color: whitesmoke;
    border-radius: 15%;
    margin-top: 2%;
}

.like-top{
    position: absolute;
    padding-left: 10%;
    right: 10%;
    font-size: 30px;

}

.favorite-top{
    position: absolute;
    top:2%;
    right: 12%;
    font-size: 30px;
}
#footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.frst-col-footer{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-top: 3%;
}

.scnd-col-footer{
    display: flex;
    flex-direction: column;

    width: 28%;
    margin-top: 3%;
}

.thrd-col-footer{
    display: flex;
    flex-direction: column;
    
    width: 28%;
    margin-top: 3%;

}

.legal-term-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.rights-term-right{
    margin-left: 30%
}

.frst-col-footer p{
    width: 100%;
    max-width: 300px;
}

h3{

    color: black;
}

h5{
    color: black;
}

h6{
    color: black;
}


.thrd-col-footer img{
    float: left;
    border-radius: 45%;
}




@media screen and (max-width:767px) { 
    .option-container{
        display: none;
    }
    .ls-menu a{
        display:none;
    }
    .dropdown.navbar{
        display: inherit;   
    }
    .ms-menu{
        display:inherit;
    }
    #footer{
        flex-direction: column;
        align-items: center;
    }
    
    .legal-term-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rights-term-right{
        margin-left: 0%;
    }
    .last{
        display: none;
    }

}


.search-form {
    float: right;
}

/* ESTILOS DE LA PÁGINA SEARCH FILTERS*/


.categories{
    margin-bottom: 5%;
    margin-top: 5%;
    height: 100%;
    border-style: ridge;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categories a:hover{
    background-color: orangered;
}

.categorie-container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0% 7% 0% 5%;
    margin: auto;
}

.col.searched{
    margin-right: 3%;
    margin-bottom: 3%;
    border-style: solid;
    padding: 0;
}

.col.searched img{
    width: 100%;
}

.navbar.categories{
    width: 100%;
}

.container.recipe-searched{
    max-width: 1300px;
}

.navbar-right .ls-menu{
    padding-right:10px;
}
.nav-line{
    border-right-style: double;
    width: 27%;
    height: 100%;
}

a.btn{
    align-self: center;
}


/* ESTILOS DE LA PÁGINA SEARCH FILTERS*/

.categories{
    margin-bottom: 5%;
    margin-top: 5%;
    height: 100%;
    border-style: ridge;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categories a:hover{
    background-color: orangered;
}

.categorie-container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0% 7% 0% 5%;
    margin: auto;
}

.col.searched{
    margin-right: 3%;
    margin-bottom: 3%;
    border-style: solid;
    padding: 0;
}

.col.searched img{
    width: 100%;
}

.navbar.categories{
    width: 100%;
}

.container.recipe-searched{
    max-width: 1300px;
}

.navbar-right .ls-menu{
    padding-right:10px;
}
.nav-line{
    border-right-style: double;
    width: 27%;
    height: 100%;
}



/* ESTILOS MODAL DE PREFERENCES A LA DERECHA*/

#modalFilter{
    max-width: 350px;
}

#nudTime{
    display: inline;
    max-width: 65px;
    margin-left: 15px;
}
.modal.right.fade .modal-dialog {
    right: -35%;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/*Estilos de Botones preferencias */

.div-filter{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    height: auto;
    margin: 10px;

}
.diets .btn{
    border-color: orange;
    width: 80px !important;
    margin: 5px;
}

.alergies .btn{
    margin: 3px;
    border-color: orange;
    width: 80px;
    margin: 5px;
}


.cousines .btn{
    margin: 3px;
    border-color: orange;
    width: 80px;
    margin: 5px;
}


