*{
    text-align: justify;
}
/*login & register*/
.info{
    border: 0;
    box-shadow: 0;
}

div.container.aboutUs,
div.col-md-3
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px;
    
}
.col-md-8{
    margin-left: 0px;
    padding-left: 47px;
    border-left-width: 0px;
    border-left-style: solid;
    padding-right: 0px;
}
.modal-dialog {
    max-width: 850px;
}


.box{
    width: 260px;
    height: 110px;
    background-color: transparent;
    margin: 10px;
}

div.container_modal
div.column_modal{
    display: flex;
    flex-direction: row;
    padding: 100px;
}
/*about*/
article.avatar{
    padding: 20px;   
}

article.avatar img {
    border-radius: 50%;
    border: 4px solid #bbbbbb;
    width: 150px;
    display: flex;
    flex-direction: row;
    margin: 0 auto; 
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(24, 25, 26, 0.5);
  }

div.container.row.touch{
max-width: 100%;
}

/*Modal*/
#logreg-forms{
    width:100%;
    margin:2vh auto;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

.li-ingredients{
    list-style: none;
    font-size: 1.5rem;
    margin-top: 30px
}

.font-disp{
    font-size: 1.3vw;
}
.li-ingredients li{
    margin-top: 25px;
}
.li-interactions{
    list-style: none;
    font-size: 1rem !important;
    display: flexbox;
}
.li-interactions li{
    display: inline-flex;
    margin-left: 10px;
    font-size: 1.3rem !important;
}

#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin-bottom: 14px;
    margin-left: 35px;
}

#logreg-forms .social-btn{
    width:84px;
    margin-left: 60px;
}

#logreg-forms .fb{
    margin-left: 30px !important;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}

#logreg-form.bt-login{
    width: 15vw;
}

#logreg-forms .login-links{
    text-align: center;
}

#logreg-forms button[type="submit"]{ margin-top:10px; }


#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}


.table-pink div{
    text-align: center;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    border: solid;
    border-bottom: none;
    border-color: black;
}
.table-grey div{
    text-align: center;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    border: solid;
    border-top: none;
}

/*recipe*/
.checked {
    color: orange;
}

.bt-tag{
    color: fuchsia;
    border-width: 2.5px;
    border-color: fuchsia;
    border-radius: 20px;
    margin-top: 20px;
}

.social-li{
    
    display: inline;
}

.social-li img{
    margin-top: 20px;
    width: 44px;
    height: 44px;
}

.li-interactions .margin{
    margin-top: 25vw;
}
.related-img{
    width: 100%;
    height: 100%;
}

/* Mobile login*/

@media screen and (max-width:500px){
    #logreg-forms3{
        max-width:300px;
    }

    #logreg-forms .bt-login{
        width: 76.5px;
    }
    .box{
    width: 100%;
    height: 60px;      
}

.font-disp{
    font-size: 6px;
    margin-left: 0px;
    margin-right: 0px;
}
.jumbotron .col-6 h3{
    font-size: 3.5vw;
}
.rate{
    margin-top: 20px;
}

.social-li img{
    width: 24px;
    height: 24px;
}

@media screen and (max-width:450px){
    #logreg-forms .social-btn{
        width: 64px;
        margin-left: 0px;
    }
    .social-li img{
        width: 24px;
        height: 24px;
    }
  }
}

@media screen and (min-width: 500px) {
    .bt-login{
        width: 15vw;
    }
    
    .box{
        width: 260px;
    height: 220px;       
}

}
@media screen and (max-width: 650px) {
    .box{
        width: 100%;
        height: 60px;      
    }      
}

.site-title{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

.site-title h1{
    padding-top: 1%;
    font-size: 20px;
}

.navbar{
    border-bottom-style:double;
    width:100%;
}

.dropdown.navbar{
    display: none;
}

.ms-menu{
    display: none;
}

.option-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.option-container a{
    margin-bottom: 10% 
}

.main-recipe{
    display: flex;
    border-style:solid;
    width: 100%;
    height: 100%;
}

.main-recipe .menu-img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.recipe-container{
    height: auto;
}

.recipe{
 display: flex;
 flex-wrap: wrap;
}

.recipe-normal i{
    float: right;
    width: 30px;
    height: 40px;
}

.recipe-normal{
    height: auto;
    border-style: solid;
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 100%;
}

.recipe-normal img{
    width: 100%;
    object-fit: cover;
}

.recipe-bigger{
    height: auto;
    border-style: solid;
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 100%;
}
.recipe-bigger .details{
    position: absolute;
    font-size: xx-large;
}

.main-recipe .details{
    position: absolute;
    bottom: 35%;
    left: 50%;
    font-size: xx-large;
}

.recipe-bigger img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.filter{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.filter a{
    color: gray;
    font-style: italic;
}

.filter-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.h5{
    color: black;
}

.btn-loadMore{
    display: flex;
    justify-content: center;
    height: 100px;
}

.btn-loadMore button{
    background-color: black;
    height: 40px;
    width: 100px;
    color: whitesmoke;
    border-radius: 15%;
    margin-top: 2%;
}

.like-top{
    position: absolute;
    padding-left: 10%;
    right: 10%;
    font-size: 30px;

}

.favorite-top{
    position: absolute;
    top:2%;
    right: 12%;
    font-size: 30px;
}
#footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.frst-col-footer{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-top: 3%;
}

.scnd-col-footer{
    display: flex;
    flex-direction: column;

    width: 28%;
    margin-top: 3%;
}

.thrd-col-footer{
    display: flex;
    flex-direction: column;
    
    width: 28%;
    margin-top: 3%;

}

.legal-term-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.rights-term-right{
    margin-left: 30%
}

.frst-col-footer p{
    width: 100%;
    max-width: 300px;
}

h3{

    color: black;
}

h5{
    color: black;
}

h6{
    color: black;
}


.thrd-col-footer img{
    float: left;
    border-radius: 45%;
}




@media screen and (max-width:767px) { 
    .option-container{
        display: none;
    }
    .ls-menu a{
        display:none;
    }
    .dropdown.navbar{
        display: inherit;   
    }
    .ms-menu{
        display:inherit;
    }
    #footer{
        flex-direction: column;
        align-items: center;
    }
    
    .legal-term-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rights-term-right{
        margin-left: 0%;
    }
    .last{
        display: none;
    }

}


.search-form {
    float: right;
}


.categories{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 1%;
    height: 40px;
}

.navbar-nav{
    border-end-end-radius: 15%;
}

.nav-line{
    border-right-style: double;
    width: 27%;
    height: 100%;
}

a.btn{
    align-self: center;
}

